body {
    color: white;
    background-color: #192536;
  }
  #body {
    padding-top: 3%;
    background-color: #202f44;
    padding-bottom: 3%;
  }
  a{
      color: white;

  }
  a:hover{
      color: #20b484;
  }

.item{
    text-align: center;
}
.follow{
    color: #bfa8a0;
    font-size: 12px;
}
.listArtist>a{
    margin-left: 1%;
    
}
.btnFollow{
    margin-top: 5%;
    border: 1px solid;
    text-align: center;

}
.btnFollow:hover{
    box-shadow: 0 4px 8px 0 rgba(0,0,0,.2), 0 6px 20px 0 rgba(0,0,0,.19);
}
.itemArtist{
    margin-top: 5%;
    margin-left: 1%;
}
.label{
    margin-top: 2%;
    font-size: 24px;
    font-weight: 700;
    color: #32323d;
    text-transform: capitalize;
}
.listArtist>div{
    margin-top: 2%;
    margin-bottom: 2%;
}

/* Tạo animation cho hình */

/* nghệ sĩ */
.imgArtist{
    width: 200px; 
    height: 200px;
    border-radius: 50%;
    
    transform: scale(1) ;
    transition-duration: 1s;
    background-size: 100% 100% !important;
}
.imgArtist:hover{
    transform: scale(1.05) ;
    transition-duration: 1s;
}