
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row col-lg-10 offset-lg-1" id="body">
    <div class="tabContent">
        <ul class="listTab">
            <li><a>Việt Nam</a></li>
            <li><a>Âu Mỹ</a></li>
            <li><a>Nhật Bản</a></li>
        </ul>
    </div>

    <div class="vietNamTab">

    </div>

</div>
